@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --fontSizeNormal: 15px;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Poppins, sans-serif;
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-color: #f1f1f1;
}

/* Ficha médica */

.container {
    font-size: var(--fontSizeNormal);
    min-height: 100vh;
    background-color: #fff;
    width: 400px;
}

.pacienteMain {
    padding-top: 15px;
    text-align: center;
}

.pacienteMain img {
    padding: 10px;
    border-radius: 50%;
    width: 145px;
    height: 145px;
}

.pacienteContatosContainer, .pacienteProblemasContainer, .pacienteMedicamentosContainer, .pacienteNotasContainer {
    margin-left: 10px;
}

.pacienteProblemasContainer li, .pacienteMedicamentosContainer li, .pacienteNotasContainer li {
    margin-left: 20px;
}

.footer {
    text-align: center;
}

/* Menu (quando ficha não é encontrada) */

.menu {
    text-align: center;
}

.menu input {
    width: 300px;
    height: 25px;
    padding-inline-start: 10px;
    margin: 10px;
    border-radius: 10px;
}

.menu button {
    width: 80px;
    height: 25px;
    border-style: ridge;
    border-radius: 5%;
}

/* Itens */

.divisoria {
    width: 398px;
    padding-top: 15px;
    padding-bottom: 15px;
}